@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lexend+Mega&display=swap');

/* 
#ff5252 red accent-2
#ffd600 yellow accent-4
#bdbdbd grey lighten-1
#81d4fa light-blue lighten-3
#00b0ff light-blue accent-3
*/


.nav-text-styling {
    text-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    font-family: 'Lexend Mega', 'Segoe UI', Tahoma, Verdana, sans-serif; 
}

.main-text-styling {
    text-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    font-family: 'Lexend Mega', 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.flashes h4 {
    line-height: 2;
}

/* Register.html */
#background-register-image {
    background-image: url(../images/register-img.jpg);
}

.margin-top-register {
    margin-top: 20px;
}

.register-button-text {
    font-size: 24px;
}
