{% extends "base.html" %}
{% block content %}

    <h3 class="center-align light-blue-text text-darken-4">Add Recipe</h3>

    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <input id="icon_prefix" name="recipe_name" max-length="30" type="text" class="validate" required>
                    <label for="icon_prefix">Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="autocomplete-input" id="category_name" name="recipe_category" minlength="3"
                        maxlength="30" class="autocomplete" required>
                    <label for="autocomplete-input">Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="10" class="materialize-textarea"
                        required></textarea>
                    <label for="textarea1">Ingredients</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="recipe_method" name="recipe_method" minlength="10" class="materialize-textarea"
                        required></textarea>
                    <label for="textarea1">Steps</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}