{% extends "base.html" %}
{% block content %}

    <h3 class="center-align light-blue-text text-darken-4">Edit Recipe</h3>

    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <!-- recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="icon_prefix" name="recipe_name" max-length="30" type="text" class="validate" required>
                    <label for="icon_prefix">Recipe Name</label>
                </div>
            </div>
            <!-- recipe category -->
			<div class="row">
				<div class="input-field col s12">
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
					<label for="category_name">Task Category</label>
				</div>
			</div>
            <!-- recipe ingredients -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="10" class="materialize-textarea"
                        required></textarea>
                    <label for="textarea1">Ingredients</label>
                </div>
            </div>
            <!-- recipe steps -->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="recipe_method" name="recipe_method" minlength="10" class="materialize-textarea"
                        required></textarea>
                    <label for="textarea1">Steps</label>
                </div>
            </div>
            <!-- recipe submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn waves-effect waves-light" type="submit">Edit Recipe
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}