{% extends "base.html" %}
{% block content %}
<section id="image-overlay">
    <div id="hero-image">
        <div class="index-content-wrapper">
            <div class="content-wrapper right-align">
                <h1 class="text-shadow index-h1 center-align">Recipe Website</h1>
                <a href="{{ url_for('get_recipes') }}" class="text-shadow discover-button btn-large blob">Discover</a>
                <p class="text-shadow index-p center-align">Create or find your next recipe!</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}