{% extends "base.html" %}
{% block content %}
<main>
<section id="image-overlay">
    <div id="hero-image">
        <div class="index-content-wrapper">
            <div class="content-wrapper right-align">
                <div class="row center-align">
                    <div class="col s12 index-div-spacing">
                        <!-- Website page title -->
                        <h1 class="text-shadow index-h1 center-align">Limitless Website</h1>
                    </div>
                    <!-- Website slogan -->
                    <div class="col s12 index-div-spacing">
                        <p class="text-shadow index-p center-align">Create or find your next recipe!</p>
                    </div>
                    <!-- Discover btn that opens get_recipes -->
                    <div class="col s12 index-div-spacing">
                        <a href="{{ url_for('get_recipes') }}"
                            class="text-shadow discover-button btn-large blob">Discover</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
{% endblock %}