{% extends "base.html" %}
{% block content %}

<main id="login-background">
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <!-- Page heading -->
                <h3 class="center-align main-text-styling">Log In</h3>
                <!-- username -->
                <div class="row">
                    <div class="input-field col s12">
                        <input name="username" type="text" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
                        <input name="password" type="password" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- login -->
                <div class="row">
                    <button type="submit" class="col s12 btn register-btn main-text-styling login-button-text">
                        Log In <i class="fas fa-chevron-right login-button-text"></i>
                    </button>
                </div>
                <!-- don't have an account link to register -->
                <div class="row">
                    <p class="center-align">
                        Dont't have an account?
                        <a href="{{ url_for('register') }}">Register Account</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}