{% extends "base.html" %} 
{% block content %}

<body class="profile-wrapper">
  <!-- session user profile name -->
  <div class="row">
    <div class="card-panel">
      <h3 class="center-align profile-name text text-shadow">
        {{ user.first_name }}'s Profile
      </h3>
      <div class="center-align">
        Registration Date: {{ user.register_date }}
      </div>
    </div>
  </div>


  <!-- session user's add recipes -->
  <div class="row">
    <h2 class="text-shadow profile-page-title">Your Recipes</h2>
    <h5 class="profile-page-title profile-total">You Have {{ total }} Recipes</h5>
    {% if total > 0 %} {% for recipe in recipes %}
    <div class="col s12 l3">
      <div class="card">
        <div class="card-image">
          {% if recipe.image_url %}
          <img class="recipe-image" src="{{ recipe.image_url }}" alt="recipe image"/>
          {% else %}
          <img class="recipe-image" src="../static/images/missing-image.jpg" alt="defualt recipe image"/>
          {% endif %}
          <span class="card-title text-shadow s12">
            <!-- recipe name -->
            <h3 class="recipe-name">
              <strong>{{ recipe.recipe_name }}</strong>
            </h3>
            <br />
            <!-- recipe category -->
            <h5 class="recipe-category">{{ recipe.category_name }}</h5>
          </span>
        </div>
        <div class="card-content">
          <!-- buttons -->
          <div class="button-wrappers center-align">
            <!-- view -->
            <a class="waves-effect waves-light btn recipe-btn"
              href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">View</a>
            <!-- edit -->
            {% if session.user | lower == recipe.created_by | lower %}
            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
              class="waves-effect waves-light btn recipe-btn">Edit</a>
            <!-- delete | modal trigger -->
            <a class="waves-effect waves-light btn modal-trigger recipe-btn"
              href="#delete_task_modal-{{loop.index}}">Delete</a>
            {% endif %}
          </div>
          <!-- delete | modal content -->
          <div id="delete_task_modal-{{loop.index}}" class="modal">
            <div class="modal-content center-align">
              <h4>Are You Sure You Want To Delete This Recipe</h4>
              <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                class="modal-close btn recipe-btn">Yes</a>
              <button class="modal-close btn recipe-btn">No</button>
            </div>
          </div>
          <hr />
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="center-align">
    <h3 class="recipe-no-results-profile">
      You have not added any recipes
      <a href="{{ url_for('add_recipe') }}">click here</a> to add a recipe!
    </h3>
  </div>
  {% endif %}
  <div class="pagination-wrapper center-align">{{ pagination.links }}</div>
</body>
{% endblock %}