{% extends "base.html" %}
{% block content %}

<body id="recipe-page-content">
    <br>
    <div class="container">
        <!-- Recipe Category Buttons For Large Screens -->
        <div class="row category-buttons-large">
            <div class="col s12 center-align recipe-page-options">
                <a href="{{ url_for('get_recipes') }}" class="recipe-pages-btn tooltipped" data-position="bottom"
                    data-tooltip="All Recipes" id="all"><i class="fas fa-globe icon-circle"></i></a>
                <a href="{{ url_for('get_recipes', category='Breakfast') }}" class="recipe-pages-btn tooltipped"
                    data-position="bottom" data-tooltip="Breakfast" id="breakfast"><i
                        class="fas fa-bacon icon-circle"></i></a>
                <a href="{{ url_for('get_recipes', category='Lunch') }}" class="recipe-pages-btn tooltipped"
                    data-position="bottom" data-tooltip="Lunch" id="lunch"><i
                        class="fas fa-hamburger icon-circle"></i></a>
                <a href="{{ url_for('get_recipes', category='Dinner') }}" class="recipe-pages-btn tooltipped"
                    data-position="bottom" data-tooltip="Dinner" id="dinner"><i
                        class="fas fa-utensils icon-circle"></i></a>
                <a href="{{ url_for('get_recipes', category='Dessert') }}" class="recipe-pages-btn tooltipped"
                    data-position="bottom" data-tooltip="Dessert" id="dessert"><i
                        class="fas fa-ice-cream icon-circle"></i></a>
            </div>
        </div>
        <!-- Page Category Options For Small Screens -->
        <div class="row category-buttons-small">
            <div class="col s12 center-align">
                <a href="{{ url_for('get_recipes') }}" class="recipe-category-sm-btn btn">All Recipes</a>
            </div>
            <div class="col s6 center-align">
                <a href="{{ url_for('get_recipes', category='Breakfast') }}"
                    class="recipe-category-sm-btn btn">Breakfast</a>
            </div>
            <div class="col s6 center-align">
                <a href="{{ url_for('get_recipes', category='Lunch') }}" class="recipe-category-sm-btn btn">Lunch</a>
            </div>
            <div class="col s6 center-align">
                <a href="{{ url_for('get_recipes', category='Dinner') }}" class="recipe-category-sm-btn btn">Dinner</a>
            </div>
            <div class="col s6 center-align">
                <a href="{{ url_for('get_recipes', category='Dessert') }}"
                    class="recipe-category-sm-btn btn">Dessert</a>
            </div>
        </div>
    </div>
    <br>

    <!-- Search Bar -->
    <div class="card-panel search-card">
        <form action="{{ url_for('search') }}" method="GET">
            <div class="row center-align">
                <div class="col s12 l6">
                    <div class="input-field">
                        <i class="fas fa-search prefix search-icon"></i>
                        <!-- Search Input -->
                        <input type="text" name="query" id="query" minlength="3" class="validate search-input" required>
                        <label for="query">Search Recipes</label>
                    </div>
                </div>
                <div class="col s12 l6 submit-reset-wrapper">
                    <!-- Search Submit -->
                    <button type="submit" class="search-submit btn text-shadow">
                        <i class="fas fa-search"></i>
                    </button>
                    <!-- Search Reset -->
                    <a href="{{ url_for('get_recipes') }}" class="search-reset red btn text-shadow">
                        <i class="fas fa-undo"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <!-- Recipe Title -->
    <h2 class="recipe-page-titles text-shadow">All Recipes</h2>
    <!-- Recipe Card -->
    <div class="row">
        {% if recipe_count > 0 %}
        {% for recipe in recipe_list %}
        <div class="col s12 m6 l3">
            <div class="card recipe {{ recipe._id }}">
                <!-- Recipe Image -->
                <div class="card-image">
                    {% if recipe.image_url %}
                    <img class="recipe-image" src="{{ recipe.image_url }}" alt="recipe image">
                    {% else %}
                    <!-- Fallback Recipe Image -->
                    <img class="recipe-image" src="{{ url_for('static', filename='images/missing-image.jpg') }}" alt="missing recipe defualt image">
                    {% endif %}
                    <span class="card-title text-shadow s12">
                        <!-- recipe name -->
                        <h3 class="recipe-name"><strong>{{ recipe.recipe_name }}</strong></h3>
                        <br>
                        <!-- recipe category -->
                        <h5 class="recipe-category {{ recipe.category_name }}">{{ recipe.category_name }}</h5>
                    </span>
                </div>
                <div class="card-content">
                    <!-- Reviews Modal -->
                    <div id="reviews-{{recipe._id}}" class="modal modal-review">
                        <div class="modal-content">
                            <div class="row">
                                <!-- Recipe Name In Review Modal -->
                                <div class="col s12 m6 recipe-name-title">{{ recipe.recipe_name }}</div>
                                <!-- Add Review Button -->
                                {% if session.user %}
                                <div class="col s12 m6 right-align-add-review">
                                    <a href="{{ url_for('add_review', recipe_id=recipe._id) }}"
                                        class="recipe-pages-btn waves-effect waves-light btn">
                                        Add Review
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- Review Modal Close -->
                        <div class="modal-footer">
                            <a class="modal-close waves-effect waves-green btn-flat">Close</a>
                        </div>
                    </div>
                    <!-- Recipe Card Buttons -->
                    <div class="button-wrappers center-align">
                        <!-- Recipe View Button (opens view_recipe.html) -->
                        <a class=" btn recipe-btn" href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">View</a>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <!-- If No Recipes Will Show This -->
    <div class="center-align">
        <h3 class="recipe-no-results">No Results</h3>
    </div>
    {% endif %}
        <!-- Pagination Links -->
        <span class="center align">
            {{ pagination.links }}
        </span>
</body>

{% endblock %}