{% extends "base.html" %}
{% block content %}

<div class="row">
    {% for recipe in recipes %}
    <div class="col s3">
        <div class="card">
            <div class="card-image">
                <img src="static/images/register-img.jpg">
                <span class="card-title text-shadow">
                    <!-- recipe name -->
                    <h3 class="recipe-name"><strong>{{ recipe.recipe_name }}</strong></h3>
                    <br>
                    <!-- recipe category -->
                    <h5 class="recipe-category">{{ recipe.category_name }}</h5>
                </span>
            </div>
            <div class="card-content">
                <!-- description -->
                <p>{{ recipe.recipe_description }}</p>
                <!-- buttons -->
                <div class="button-wrappers center-align">
                    <!-- save -->
                    <a class="waves-effect waves-light btn recipe-btn">Save</a>
                    <!-- edit -->
                    {% if session.user | lower == recipe.created_by | lower %}
                    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                        class="waves-effect waves-light btn recipe-btn">Edit</a>
                    <!-- delete | modal trigger -->
                    <a class="waves-effect waves-light btn modal-trigger recipe-btn"
                        href="#delete_task_modal-{{loop.index}}">Delete</a>
                </div>
                <!-- modal content -->
                <div id="delete_task_modal-{{loop.index}}" class="modal">
                    <div class="modal-content center-align">
                        <h4>Are You Sure You Want To Delete This Recipe</h4>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                            class="modal-close waves-effect waves-light btn recipe-btn">Delete</a>
                    </div>
                </div>
                <hr>
                <!-- card reveal -->
                <h5 class="activator center-align see-more"><i class="fas fa-info"></i></h5>
            </div>
            <!-- card reveal content-->
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">
                    {{ recipe.recipe_name }}
                    <i class="material-icons right">close</i>
                </span>
                <div class="center-align">
                    <span>Prep Time: </span>{{recipe.prep_time}}<span>Cooking Time: </span>{{recipe.cooking_time}}
                    <p>{{ recipe.recipe_ingredients }}</p>
                    <p>{{ recipe.recipe_method }}</p>
                    <p>Published by {{ recipe.created_by }}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}