{% extends "base.html" %}
{% block content %}

<!-- Back To Recipes Button -->
<div class="row">
    <a href="{{ url_for('get_recipes') }}" class="recipe-pages-btn waves-effect waves-light btn back-to-recipes">
        <i class="fas fa-step-backward"></i>
        Back to recipes
    </a>
</div>
<!-- Recipe Image -->
<div class="row center-align">
    <div class="col s12 l6">
        <img src="{{ recipe.image_url }}" class="view-recipe-img " alt="Recipe Image" />
    </div>
    <!-- Recipe Details -->
    <div class="col s12 l4 left-align">
        <h3 class="view-recipe-headers">Recipe Name:
            <span class="view-recipe-details">{{ recipe.recipe_name }}</span>
        </h3>
        <br>
        <h4 class="view-recipe-headers">Category:
            <span class="view-recipe-details">{{ recipe.category_name }}</span>
        </h4>
        <br>
        <h4 class="view-recipe-headers">Description:
            <span class="view-recipe-details">{{ recipe.recipe_description }}</span>
        </h4>
        <br>
        <h4 class="view-recipe-headers">Prep Time:
            <span class="view-recipe-details">{{ recipe.prep_time }} minutes</span>
        </h4>
        <br>
        <h4 class="view-recipe-headers">Cooking Time:
            <span class="view-recipe-details">{{ recipe.cooking_time }} minutes</span>
        </h4>
        <br>
        <h6 class="view-recipe-headers">By:
            <span class="view-recipe-details"><em>{{ recipe.created_by }}</em></span>
        </h6>
    </div>
</div>
<hr class="view-hr">
<!-- Recipe Ingredients & Steps -->
<div class="row center-align">
    <div class="col s12 l6">
        <h4>Ingredients:</h4>
        {% for ingredient in recipe.recipe_ingredient %}
        <p>{{ ingredient }}</p>
        {% endfor %}
    </div>
    <div class="col s12 l6">
        <h4>Steps:</h4>
        {% for method in recipe.recipe_method %}
        <p>{{ method }}</p>
        {% endfor %}
    </div>
</div>
<hr class="view-hr">
<!-- Recipe Reviews-->
<div class="row">
    {% for review in recipe.reviews %}
    <div class="col s12 m4 l3">
        <div class="card review-cards">
            <div class="card-content white-text">
                <span class="card-title">
                    <!-- converts number into star rating -->
                    {% if review.recipe_rating == "5" %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    {% elif review.recipe_rating == "4" %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    {% elif review.recipe_rating == "3" %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    {% elif review.recipe_rating == "2" %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    {% elif review.recipe_rating == "1" %}
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    {% endif %}
                </span>
                <!-- recipe review description -->
                <p class="recipe-review-text review-quotes center-align">
                    <span class="recipe-review-desc">
                        "{{ review.recipe_review }}"
                    </span>
                </p>
                <!-- recipe review username -->
                <p class="recipe-review-username right-align">{{ review.username }}</p>
                <!-- recipe review date -->
                <p class="recipe-review-date right-align">{{ review.review_date }}</p>
                <!-- recipe review delete -->
                {% if session.user | lower == recipe.created_by | lower %}
                <a href="{{ url_for('delete_review', recipe_id=recipe._id, review_id=review._id) }}"
                    class="waves-effect waves-light btn recipe-btn">Delete</a>
                {% endif %}
            </div>

        </div>
    </div>
    {% endfor %}
</div>
{% if session.user %}
<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_review', recipe_id=recipe._id) }}"
            class="recipe-pages-btn waves-effect waves-light btn">
            Add Review
        </a>
    </div>
</div>
{% endif %}

{% endblock %}